{% extends 'moodsn/base.html' %}
{%load static%}

{% block content %}
    <title>SELECT</title>
    <link rel="stylesheet" href="{%static 'css/select_detail.css' %}">
    <script>
    {% if messages %}
    
        window.onload = function() {
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        };
    {% endif %}
    </script>

    <div class="selectheader">
        <div class="selectheaderleft">
            <div class="selectlogoimg"><a href="{%url 'home:firstpage'%}">
                <img src="{%static 'img/home_img/homeheaderlogo.png' %}" style="width: 180px">
            </a></div>
        </div>
        <div class="selectheadermiddle">
            <form class="selectsearchpart" method='get' action={% url 'cafe_select:select_searched'%}>
                {% csrf_token %}
                <input type="text" name="select_searchbar" class="selectsearch" placeholder="남기고 싶은 카페를 검색해보세요">
                <button type="submit" class="selectsearchicon"><img src="{%static 'img/select_img/selectsearchicon.png' %}" style="width: 25px"></button>
            </form>
        </div>
        <div class="selecthdaerright"></div>
    </div>

    <div class="headerline" style="border-top: 1px solid #b22222; width: 100%;"></div>

    <div class="selectcontainer">
        <div class="selectleft">
            <div class="navigationbar"><ul><li class="selecthover"><a href="{%url 'cafe_select:select_before'%}">select</a></li>
                <li><a href="{%url 'cafe_search:search_before'%}">search</a></li>
                <li><a href="{%url 'mypage:mypage'%}">mypage</a></li></ul></div>
        </div>

        <div class="selectmain">

            <div class="sdetailtopbox">
                <div class="topboxcafeintro">
                    <div class="topboxcafeintrotop">
                        <div class="topboxcafeintroimg"><img src="{%static 'img/select_img/topboxcafeintroimg.png' %}" width="30px"></div>
                        <div class="topboxcafeintroname">{{ cafe.cafename }}</div>
                    </div>
                    <div class="topboxcafeintrocomment">{{ cafe.cafeinfo }}</div>
                </div>

                {% if review_already == 'N' %}
                <div class="sdetailreview">
                    <div class="sdetailreviewimg"><img src="{%static 'img/select_img/sdetailreviewimg.png' %}" width="30px"></div>
                    <div class="modalcontainer">
                        <button class="sdetailreviewtext" onclick="openModal()">리뷰 쓰기</button>

                        <div id="reviewModal" class="modal">
                            <div class="modal-content">
                                <form method="POST" enctype="multipart/form-data" action="{% url 'cafe_select:review' cafe_id=cafe_id %}">
                                    {% csrf_token %}
                                    <div class="modaltop">
                                        <div class="modaltoptext">리뷰 쓰기</div>
                                        <span class="close-btn" onclick="closeModal()">&times;</span>
                                    </div>
                                    <label for="review_image" class="reviewimg" role="button" tabindex="0">
                                        <img id="preview-image" src="#" alt="이미지를 선택해주세요" class="hidden-preview" />
                                        <div id="plus-icon">+</div>
                                    </label>
                                    {% comment %} <label for="review_image" class="reviewimg" role="button" tabindex="0"><div class="reviewimg">+</div></label> {% endcomment %}
                                    <input type="file" id="review_image" name="review_image" required class="hidden-submit" >
                                    <textarea name="review_content" placeholder="리뷰를 입력하세요..." maxlength="76"></textarea><br>
                                    <button type="submit" class="submit-btn">확인</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <script src="{%static 'js/select_detail.js' %}"></script>
                </div>
                {% else %}
                <div class="reviewafter">
                    <a href={%url "cafe_select:delete_review" cafe_id=cafe.id %}><div class="reviewafterimg"><img src="{%static 'img/select_img/check.png' %}"></div></a>
                    <div class="reviewaftertext">리뷰 쓰기 완료!</div>
                </div>
                {% endif %}
            </div>

            <hr class="topline">

            {% comment %} <div class="sdetailmiddlebox">
                <div class="middleboximg"></div>
                <div class="middleboxmap"></div>
            </div> {% endcomment %}

            <div class="sdetailmiddlebox">
                <img src="{{cafeimage.cafeimage.url}}" class="middleboximg">
                <a href="https://place.map.kakao.com/{{cafe.cafeID}}" target='_blank'><div id="cafemap" class="middleboxmap"></div></a>
            </div>

            <div class="sdetailbottombox">
                <div class="toptitletext">분위기 태그 선택하기</div>
                {% if mood_already == 'N' %}
                <form method="POST" action = {%url 'cafe_select:select_tag' cafe_id=cafe.id %}>
                    {% csrf_token %}
                    <div class="moodsselectcontainer">
                        <div class="tag-box">
                            <input type="checkbox" id="tag1" class="tag" name="mood_tag" value="coffee">
                            <label for="tag1" class="taglabel">#커피가 맛있는</label>

                            <input type="checkbox" id="tag2" class="tag" name="mood_tag"  value="refined">
                            <label for="tag2" class="taglabel" >#세련된</label>

                            <input type="checkbox" id="tag3" class="tag" name="mood_tag" value="together">
                            <label for="tag3" class="taglabel">#단체모임하기 좋은</label>
                        </div>
                        <div class="tag-box">
                            <input type="checkbox" id="tag4" class="tag" name="mood_tag" value="dessert">
                            <label for="tag4" class="taglabel">#디저트가 맛있는</label>

                            <input type="checkbox" id="tag5" class="tag" name="mood_tag" value="clean">
                            <label for="tag5" class="taglabel">#깔끔한</label>

                            <input type="checkbox" id="tag6" class="tag" name="mood_tag" value="study">
                            <label for="tag6" class="taglabel">#카공하기 좋은</label>
                        </div>
                        <div class="tag-box">
                            <input type="checkbox" id="tag7" class="tag" name="mood_tag" value="cozy">
                            <label for="tag7" class="taglabel">#포근한</label>

                            <input type="checkbox" id="tag8" class="tag" name="mood_tag" value="big">
                            <label for="tag8" class="taglabel">#넓은</label>

                            <input type="checkbox" id="tag9" class="tag" name="mood_tag" value="alone">
                            <label for="tag9" class="taglabel">#혼자 있기 좋은</label>
                        </div>
                        <div class="tag-box">
                            <input type="checkbox" id="tag10" class="tag" name="mood_tag" value="cuty">
                            <label for="tag10" class="taglabel">#아기자기한</label>

                            <input type="checkbox" id="tag11" class="tag" name="mood_tag" value="always">
                            <label for="tag11" class="taglabel">#24시간 영업하는</label>

                            <input type="checkbox" id="tag12" class="tag" name="mood_tag" value="picture">
                            <label for="tag12" class="taglabel">#사진 찍기 좋은</label>
                        </div>
                    </div>
                    <button type="submit" class="moodsselectbutton">확인</button>
                </form>
                {% else %}
                <div class="moodsselectafter">
                    <a href="{%url 'cafe_select:reselect_tag' cafe_id=cafe.id %}"><div class="moodsselectafterimg"><img src="{%static 'img/select_img/check.png' %}"></div></a>
                    <div class="moodsselectaftertext">분위기 태그 선택 완료!</div>
                </div>
                {% endif %}
            </div>

        </div>

        <div class="selectright">
        </div>
    </div>

    <!-- 카카오 지도 API 스크립트 -->
<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{myjskey}}"></script>

<script>
    // 카카오 지도 API가 로드되면 실행되는 코드
    kakao.maps.load(function() {
        var cafeLat = {{ cafe.cafe_x }};
        var cafeLng = {{ cafe.cafe_y }};
        
        var container = document.getElementById('cafemap');
        var options = {
            center: new kakao.maps.LatLng(cafeLng, cafeLat),
            level: 2  // 지도 확대/축소 레벨
        };

        var map = new kakao.maps.Map(container, options);
        
        // 마커 추가
        var marker = new kakao.maps.Marker({
            position: new kakao.maps.LatLng(cafeLng, cafeLat)
        });
        marker.setMap(map);
    });

    document.getElementById("review_image").addEventListener("change", function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById("preview-image");
        const plusIcon = document.getElementById("plus-icon");

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = "block";
                plusIcon.style.display = "none";
            };

            reader.readAsDataURL(file);
        }
    });

</script>
{% endblock %}