<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELECT</title>
    <link rel="stylesheet" href="/moodsn/static/css/select_detail.css">
</head>
<body>
    <div class="selectheader">
        <div class="selectheaderleft">
            <div class="selectlogoimg"><img src="../home_img/homeheaderlogo.png" style="width: 180px"></div>
        </div>
        <div class="selectheadermiddle">
            <div class="selectsearchpart"><input type="text" class="selectsearch" placeholder="남기고 싶은 카페를 검색해보세요"> 
                <button class="selectsearchicon"><img src="../select_img/selectsearchicon.png" style="width: 25px"></button></div>
        </div>
        <div class="selecthdaerright"></div>
    </div>
 
    <div class="headerline" style="border-top: 1px solid #b22222; width: 100%;"></div>

    <div class="selectcontainer">
        <div class="selectleft">
            <div class="navigationbar"><ul><li class="selecthover"><a href="./select_before.html">select</a></li>
                <li><a href="./search_before.html">search</a></li>
                <li><a href="./mypage.html">mypage</a></li></ul></div>
        </div>

        <div class="selectmain">

            <div class="sdetailtopbox">
                <div class="topboxcafeintro">
                    <div class="topboxcafeintrotop">
                        <div class="topboxcafeintroimg"><img src="../select_img/topboxcafeintroimg.png" width="30px"></div>
                        <div class="topboxcafeintroname">카페명</div>
                    </div>
                    <div class="topboxcafeintrocomment">코멘트 한 줄</div>
                </div>

                <div class="sdetailreview">
                    <div class="sdetailreviewimg"><img src="../select_img/sdetailreviewimg.png" width="30px"></div>
                    <div class="modalcontainer">
                        <button class="sdetailreviewtext" onclick="openModal()">리뷰 쓰기</button>

                        <div id="reviewModal" class="modal">
                            <div class="modal-content">
                                <div class="modaltop">
                                    <div class="modaltoptext">리뷰 쓰기</div>
                                    <span class="close-btn" onclick="closeModal()">&times;</span>
                                </div>
                                <buttun class="reviewimg">+</buttun>
                                <!--<div class="reviewimgafter"></div>-->
                                <textarea placeholder="리뷰를 입력하세요..."></textarea>
                                <button class="submit-btn">확인</button>
                            </div>
                        </div>
                    </div>

                    <script src="/moodsn/static/js/select_detail.js"></script>
                </div>

                <!--<div class="reviewafter">
                    <div class="reviewafterimg"><img src="../select_img/check.png"></div>
                    <div class="reviewaftertext">리뷰 쓰기 완료!</div>
                </div>-->
            </div>

            <hr class="topline">

            <div class="sdetailmiddlebox">
                <div class="middleboximg"></div>
                <div class="middleboxmap"></div>
            </div>

            <div class="sdetailbottombox">
                <div class="toptitletext">분위기 태그 선택하기</div>

            <div class="moodsselectcontainer">
                <div class="tag-box">
                    <input type="checkbox" id="tag1" class="tag" name="mood_tag" value="coffee">
                    <label for="tag1" class="taglabel">#커피가 맛있는</label>

                    <input type="checkbox" id="tag2" class="tag" name="mood_tag"  value="refined">
                    <label for="tag2" class="taglabel" >#세련된</label>

                    <input type="checkbox" id="tag3" class="tag" name="mood_tag" value="together">
                    <label for="tag3" class="taglabel">#단체모임하기 좋은</label>
                </div>
                <div class="tag-box">
                    <input type="checkbox" id="tag4" class="tag" name="mood_tag" value="dessert">
                    <label for="tag4" class="taglabel">#디저트가 맛있는</label>

                    <input type="checkbox" id="tag5" class="tag" name="mood_tag" value="clean">
                    <label for="tag5" class="taglabel">#깔끔한</label>

                    <input type="checkbox" id="tag6" class="tag" name="mood_tag" value="study">
                    <label for="tag6" class="taglabel">#카공하기 좋은</label>
                </div>
                <div class="tag-box">
                    <input type="checkbox" id="tag7" class="tag" name="mood_tag" value="cozy">
                    <label for="tag7" class="taglabel">#포근한</label>

                    <input type="checkbox" id="tag8" class="tag" name="mood_tag" value="big">
                    <label for="tag8" class="taglabel">#넓은</label>

                    <input type="checkbox" id="tag9" class="tag" name="mood_tag" value="alone">
                    <label for="tag9" class="taglabel">#혼자 있기 좋은</label>
                </div>
                <div class="tag-box">
                    <input type="checkbox" id="tag10" class="tag" name="mood_tag" value="cuty">
                    <label for="tag10" class="taglabel">#아기자기한</label>

                    <input type="checkbox" id="tag11" class="tag" name="mood_tag" value="always">
                    <label for="tag11" class="taglabel">#24시간 영업하는</label>

                    <input type="checkbox" id="tag12" class="tag" name="mood_tag" value="picture">
                    <label for="tag12" class="taglabel">#사진 찍기 좋은</label>
                </div>
            </div>
            <button type="submit" class="moodsselectbutton">확인</button>

            <!--<div class="moodsselectafter">
                <div class="moodsselectafterimg"><img src="../select_img/check.png"></div>
                <div class="moodsselectaftertext">분위기 태그 선택 완료!</div>
            </div>-->

            </div>

        </div>

        <div class="selectright">
        </div>
    </div>

    <div class="footer">
        &copy; moodsn <br><br><br> Backend 손정민 <br> Frontend 성유리 이가윤
    </div>

</body>
</html>