{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELECT</title>
    <link rel="stylesheet" href="{%static 'css/select_before.css' %}">
</head>
<body>
    <div class="selectheader">
        <div class="selectheaderleft">
            <div class="selectlogoimg"><a href="{%url 'home:firstpage'%}">
                <img src="{%static 'img/home_img/homeheaderlogo.png' %}" style="width: 180px">
            </a></div>
        </div>
        <div class="selectheadermiddle">
            <form class="selectsearchpart" method='get' action={% url 'cafe_select:select_searched'%}>
                {% csrf_token %}
                <input type="text" name="select_searchbar" class="selectsearch" placeholder="남기고 싶은 카페를 검색해보세요">
                <button type="submit" class="selectsearchicon"><img src="{%static 'img/select_img/selectsearchicon.png' %}" style="width: 25px"></button>
            </form>
        </div>
        <div class="selecthdaerright"></div>
    </div>

    <div class="headerline" style="border-top: 1px solid #b22222; width: 100%;"></div>

    <div class="selectcontainer">
        <div class="selectleft">
            <div class="navigationbar"><ul><li><a href="{%url 'cafe_select:select_before'%}">select</a></li>
                <li><a href="{%url 'cafe_search:search_before'%}">search</a></li>
                <li><a href="{%url 'mypage:mypage'%}">mypage</a></li></ul></div>
        </div>

        <div class="selectmain">
        </div>

        <div class="selectright">
        </div>
    </div>

    <div class="footer">
        &copy; moodsn <br><br><br> Backend 손정민 <br> Frontend 성유리 이가윤
    </div>

</body>
</html>