{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELECT</title>
    <link rel="stylesheet" href="{% static 'css/select_after.css' %}">
</head>
<body>
    <div class="selectheader">
        <div class="selectheaderleft">
            <div class="selectlogoimg"><img src="{% static 'img/home_img/homeheaderlogo.png' %}" style="width: 180px"></div>
        </div>
        <div class="selectheadermiddle">
            <form method='post' action={% url 'cafe_select:select_searched' user_id %}>
                {% csrf_token %}
                <div class="selectsearchpart"><input type="text" name="select_searchbar" class="selectsearch" placeholder="남기고 싶은 카페를 검색해보세요"> 
                    <button class="selectsearchicon"><img src="{% static 'img/select_img/selectsearchicon.png' %}" style="width: 25px"></button></div>
            </form>
        </div>
        <div class="selecthdaerright"></div>
    </div>
 
    <div class="headerline" style="border-top: 1px solid #b22222; width: 100%;"></div>

    <div class="selectcontainer">
        <div class="selectleft">
            <div class="navigationbar"><ul><li><a href="{%url 'cafe_select:select_before' user_id%}">select</a></li>
                <li><a href="./search_before.html">search</a></li>
                <li><a href="{%url 'mypage:mypage' user_id%}">mypage</a></li></ul></div>
        </div>

        <div class="selectmain">
            <div class="maincafesearchlist">
            {% for cafe, cafeimage in cafe_list %}
            <div class="maincafesearch">
                <div class="maincafesearchimg">
                    {% if cafeimage and cafeimage.cafeimage %}
                        <img src="{{cafeimage.cafeimage.url}}" style="width:160px;height:160px; cursor:pointer;" onclick="location.href='{% url 'cafe_select:select_detail' user_id=user_id cafe_id=cafe.id %}'">
                    {% else %}
                        <p style="width:160px; height:160px; display:flex; justify-content:center; align-items:center; border:1px solid gray;">사진 없음</p>
                    {% endif %}
                </div>
                <div class="maincafesearchtext">
                    <div class="maincafesearchname">{{ cafe.cafename }}</div>
                    <div class="maincafesearchcomment">{{ cafe.cafeinfo }}</div>
                    <div class="maincafesearchaddress">{{ cafe.cafelocations }}</div>
                </div>
            </div>
            {%endfor%}
            <hr class="bottomline"></hr>
        </div>
        </div>

        <div class="selectright">
        </div>
    </div>

    <div class="footer">
        &copy; moodsn <br><br><br> Backend 손정민 <br> Frontend 성유리 이가윤
    </div>

</body>
</html>

{%endblock content%}