{% extends "base.html" %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="../js/home.js"></script>
</head>

<body>
    <div class="homeheader">
        <div class="keywordtext">Keyword</div>
        <div class="homeheaderlogo"><img src="{% static 'img/home_img/homeheaderlogo.png' %}" width="350px"></div>
        <div class="recommendation">RECOMMENDATION</div>
        <div class="headerlinetext">
            <div class="moodsn">moodsn</div>
            <div class="key"><img src="{% static 'img/home_img/key.png' %}"></div>
            <div class="cafe">cafe</div>
        </div>
    </div>
    <div class="headerline" style="border-top: 1px solid #b22222; width: 100%;"></div>



    <div class="homecontainer">

        <div class="leftbox"></div>
            
        <div class="mainchomeontainer">
            <div class="tophomebox">
                <div class="tophomeimg"><img src="{% static 'img/home_img/topimg.png' %}" style="width:90px;"></div>
                <div class="tophometext"><h1>moodsn은 다녀온 카페를 <br>
                    분위기 태그로 남기고 <br>
                    분위기로 카페를 추천해주는 서비스입니다</h1></div>
                <div class="homeimg2"><img src="{% static 'img/home_img/homeimg2.png' %}" style="width: 60px;"></div>
                <div class="homeimg3"><img src="{% static 'img/home_img/homeimg3.png' %}" style="width: 350px;"></div>
                <div class="homeimg4"><img src="{% static 'img/home_img/homeimg4.png' %}" style="width: 270px;"></div>
            </div>

            <div class="hbottombox">
                {%if user.is_authenticated %}
                <a href="{% url 'cafe_select:select_before' user_id%}">
                <button class="hbottomboxleft">
                    <div class="hselectheart"><img src="{% static 'img/home_img/selectheart.png' %}" href="./select.html" style="width: 60px;"></div>
                    <div class="hselecttext"><img src="{% static 'img/home_img/select.png' %}" style="width: 120px;"></div>
                    <div class="hselectdetail">카페의 리뷰를 남기고<br>
                        분위기 선택하러 가기</div>
                </button></a>
                <a href="./search_before.html">
                <button class="hbottomboxright">
                    <div class="hsearchimg"><img src="{% static 'img/home_img/searchimg.png' %}"  style="width: 50px;"></div>
                    <div class="hsearchtext"><img src="{% static 'img/home_img/Search.png' %}" style="width: 120px;"></div>
                    <div class="hsearchdetail">분위기로 카페를 검색하여<br>나만의 카페 찾아보기</div>
                </button></a>
                {%else%}
                <a href="#">
                <button class="hbottomboxleft">
                    <div class="hselectheart"><img src="{% static 'img/home_img/selectheart.png' %}" href="./select.html" style="width: 60px;"></div>
                    <div class="hselecttext"><img src="{% static 'img/home_img/select.png' %}" style="width: 120px;"></div>
                    <div class="hselectdetail">카페의 리뷰를 남기고<br>
                        분위기 선택하러 가기</div>
                </button></a>
                <a href="#">
                <button class="hbottomboxright">
                    <div class="hsearchimg"><img src="{% static 'img/home_img/searchimg.png' %}"  style="width: 50px;"></div>
                    <div class="hsearchtext"><img src="{% static 'img/home_img/Search.png' %}" style="width: 120px;"></div>
                    <div class="hsearchdetail">분위기로 카페를 검색하여<br>나만의 카페 찾아보기</div>
                </button></a>
                {%endif%}
            </div>
        </div>

        {%if user.is_authenticated %}

        <div class="profilecontainer">
            <div class="profilein">
                <img src="{{profile.profile_image.url }}" class="profileimg" alt="Profile Image" width="150">
                <div class="loginnotice">{{profile.nickname}}</div>
                <a href={%url 'mypage:mypage' user_id%}><button class="loginbutton">MYPAGE
                </button></a>
                <a href="{%url 'accounts:logout' %}"><button class="signupbutton">LOGOUT</button></a>
            </div>
        </div>
        
        {%else%}
        <div class="profilecontainer">
            <div class="profilein">
                <div class="profileimg"></div>
                <div class="loginnotice">로그인이 필요합니다</div>
                <a href="{%url 'accounts:login' %}"><button class="loginbutton">LOGIN
                </button></a>
                <a href="{%url 'accounts:signup' %}"><button class="signupbutton">SIGN UP</button></a>
            </div>
        </div>
        {%endif%}

    </div>

    <div class="bootomline" style="border-top: 1px solid #b22222; width: 100%;">
    </div>

    <div class="promotion">
        <div class="scrollpromo">{% static 'img/home_img/promo3.png' %}
            <div class="promo"><img src="{% static 'img/home_img/promo1.png' %}" width="900px" alt="promo1"></div>
            <div class="promo"><img src="{% static 'img/home_img/promo2.png' %}" width="900px" alt="promo2"></div>
            <div class="promo"><img src="{% static 'img/home_img/promo3.png' %}" width="900px" alt="promo3"></div>
        </div>
    </div>


    <div class="footer">
        &copy; moodsn <br><br><br> Backend 손정민 <br> Frontend 성유리 이가윤
        {%if user.is_superuser %}
            <a href="{%url 'cafe:cafeadd' user_id %}"><button>카페 추가</button></a>
        {%endif%}
    </div>

</body>
</html>
{% endblock content %}