{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>baseHtml</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <div class="pageContainer">
        <div class="wrapper">
            {% block content %}{% endblock %}
        </div>
        
        {% block footer %}
        <footer class="footer">
            &copy; moodsn <br><br><br>
            Backend 손정민 <br>
            Frontend 성유리 이가윤
        </footer>
        {% endblock %}
    </div>
</body>
</html>