{% extends 'moodsn/base.html' %}
{%load static%}

{% block content %}
    <title>PRECHECK</title>
    <link rel="stylesheet" href="{% static 'css/precheck_after.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kalnia&display=swap" rel="stylesheet">

    <!-- 헤더 -->
    <div class="selectheader">
        <div class="selectheaderleft">
            <div class="selectlogoimg">
                <img src="{% static 'img/moodsn_logo.png' %}" style="width: 220px">
            </div>
        </div>
        <div class="selectheaderright"></div>
    </div>

    <div class="headerline"></div>

    <!-- 본문 -->
    <div class="selectcontainer">
        <!-- 왼쪽 메뉴바 -->
        <div class="selectleft">
            <div class="profile-section">
                <div><img src={{profile.profile_image.url}} alt='image' class="profile-img"></div>
                <div class="nickname-box">{{profile.nickname}}</div>
                <a href={%url 'accounts:logout' %}><button class="logout-button">Logout</button></a> <!-- 수정 : 로그아웃 버튼 추가 -->
            </div>
        </div>

        <!-- 오른쪽 내용 영역 -->
        <div class="selectmain">
            <div class="mypost-title">My Certified Post</div>
            <div class="mypost-content-wrapper">
                <div class="mypost-textbox">
                    {{checkpost.content}}
                </div>
                <div class="mypost-imagebox">
                    <img src="{{checkimage.checkimage.url}}" alt="Image">
                </div>
            </div>
            <a href={%url 'precheck:precheck_delete' checkpost_id=checkpost.id %}><button class="mypost-upload">다시 작성하기</button></a>
        </div>
        
        
    </div>
 {% endblock %}
