

.selectheader{
    display: flex;
    flex-direction: row;
}

.selectheaderleft{
    flex:1;
}

.selectheadermiddle{
    width:830px;
}

.selecthdaerright{
    flex: 1;
}

.selectlogoimg {
    float: right;
    margin-top: 85px;
}

.headerline {
    margin-top: 15px;
}

.selectleft {
    flex: 1;
}

.navigationbar ul {
    list-style-type: none;
    float: right;
    margin-right: 70px;
    margin-top: 60px;
}

.navigationbar ul a{
    text-decoration: none;
    color:#BF0E00;
    font-size: 18px;
}

.navigationbar ul a:hover{
    background-color: #fae5e3;
    border-radius: 10px;
}

.navigationbar ul li {
    margin-bottom: 50px;
}

.selectmain {
    border: 1px solid #BF0E00;
    border-top: none;
    width: 830px;
    height: 430px;
}

.mypageprofile{
    display: flex;
    flex-direction: row;
    background-color: #eef8ff88;
    width: 100%;
    height: 250px;
    border-bottom: 1px solid rgb(184, 192, 197);
}

.mypageprofileimg{
    background-color: rgb(192, 192, 192);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 40px;
    border: 2px solid rgb(224, 233, 239);
}

.mypageprofiletext{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 16px;
}

.mypagename{
    font-size: 25px;
    border-radius: 30px;
    width: 100%;
    padding: 15px 10px 10px 8px;
}

.mypageidcontainer{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 17px;
}

.mypageid{
    margin-right: 13px;
}

.mypageemailcontainer{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    font-size: 17px;
}

.mypageemail{
    margin-right: 13px;
}

.mypageprofilechage{
    background: none;
    border: none;
    margin-top: 13px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px;
    background-color: white;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    width: 370px;
    height: 430px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.namechangebox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.modaltop{
    display: flex;
    flex-direction: row;
    height: 35px;
    background-color: #ffa39c60;
    position: relative;
}

.modaltoptext{
    color: #979797;
    margin: 9px;
    font-size: 13px;
}

.close-btn {
    position: absolute;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.profileimgchange{
    font-size: 40px;
    color:#BF0E00;
    border: 2px solid #BF0E00;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 50px auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileimgafter{
    margin-top: 30px;
    width: 170px;
    height: 170px;
    background-color: #979797;
    margin: 0 auto;
    margin-bottom: 20px;
}

.namechange{
    /* display: flex; */
    width: 100px;
    height: 25px;
    background-color: #E9F6FF;
    border: none;
    border-radius: 20px;
    padding-left: 10px;
}

.submit-btn {
    width: 50px;
    background-color: #FFFEE0;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    margin: 40px auto;
}

.submit-btn:hover {
    background-color: #fff09ea1;
}

.mypagerecord{
    padding-top: 30px;
    padding-left: 30px;
    font-size: 25px;
    color:#999898;
}

.mypagemoodselect a{
    text-decoration: none;
    color: black;
}

.mypagereview a{
    text-decoration: none;
    color: black;
}

.mypagemoodselect{
    margin-left: 30px;
    margin-top: 20px;
}

.mypagemoodselect:hover{
    text-decoration: underline;
}

.mypagereview{
    margin-left: 30px;
    margin-top: 5px;
}

.mypagereview:hover{
    text-decoration: underline;
}

.selectright{
    flex: 1;
}

.selectcontainer{
    display: flex;
    flex-direction: row;
}