@import url('https://fonts.googleapis.com/css2?family=Kalnia&display=swap');

body {
    background: linear-gradient(#FFFFF3, #FFFEE0);
}

/* 헤더 */
.selectheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    border-bottom: 2px solid #BF0E00;
}

/* Main home 글자 왼쪽 이동 및 색상 유지 */
a.main-home:link,
a.main-home:visited,
a.main-home:hover,
a.main-home:focus,
a.main-home:active {
    color: #BF0E00 !important;
    text-decoration: none;
}

a.main-home {
    display: block; /* 블록 요소처럼 만듦 */
    color: #BF0E00 !important;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    margin-right: 800px;
}



/* 본문 레이아웃 */
.selectcontainer {
    display: flex;
    flex-direction: row;
}

.selectleft {
    width: 250px;
    border-right: 2px solid #BF0E00;
    display: flex;
    justify-content: center;  /* 가로 중앙 정렬 */
    align-items: center;      /* 세로 중앙 정렬 */
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 300px; /* 아래로 밀어서 전체적으로 위로 올라감 */
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(192, 192, 192);
    margin: 0; /* 여백 제거 */
}

.nickname-box {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

/* My Certified Post 입력 섹션 */
.selectmain {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: 30px; /* 왼쪽 공간 약간 주기 */
    margin-right: 30px;
    height: 550px;
    
}

/* 제목 */
.mypost-title {
    font-size: 20px;
    color: #BF0E00;
    font-family: Kalnia, sans-serif;
}

/* 입력 상자 */
textarea {
    width: 95%;
    /* 높이 200 -> 350으로 수정 Q */
    height: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #EEF8FF;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-family: inherit;
}

/* 게시물 업로드 버튼 */
.mypost-upload {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FFE3D0;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.mypost-upload:hover {
    background-color: #fff09ea1;
}


/* 푸터 */
.footer {
    height: 110px;
    background-color: #FFE4D2;
    padding: 15px;
    text-align: center;
}

/* 내가 추가한 거 */
textarea::placeholder {
    color: #666; /* 또는 적당히 눈에 띄는 색상 */
    opacity: 1;  /* 일부 브라우저에서 placeholder가 흐리게 나오는 걸 방지 */
}