body{
    background: linear-gradient(#FFFFF3, #FFFEE0);
}

.selectheader{
    display: flex;
    flex-direction: row;
}

.selectheaderleft{
    flex:1;
}

.selectheadermiddle{
    width:830px;
}

.selecthdaerright{
    flex: 1;
}

.selectlogoimg {
    float: right;
    margin-top: 85px;
}

.selectsearchpart {
    display: flex;
    flex-direction: row;
}

.selectsearch {
    display: flex;
    flex-direction: row;
    border: 1px solid #BF0E00;
    border-radius: 20px;
    width: 450px;
    height: 38px;
    margin-top: 121px;
    margin-left: 30px;
    padding-left: 15px; 
}

.selectsearchicon {
    margin-top: 120px;
    margin-left: 2px;
    background: none;
    border: none;
    cursor: pointer;
}

.headerline {
    margin-top: 15px;
}

.selectleft {
    flex: 1;
}

.navigationbar ul {
    list-style-type: none;
    float: right;
    margin-right: 70px;
    margin-top: 60px;
}

.navigationbar ul a{
    text-decoration: none;
    color:#BF0E00;
    font-size: 18px;
}

.navigationbar ul a:hover{
    background-color: #fae5e3;
    border-radius: 10px;
}

.navigationbar ul li {
    margin-bottom: 50px;
}

.selectmain {
    border: 1px solid #BF0E00;
    border-top: none;
    width: 830px;
    height: 550px;
    display: flex;
}

.maincafesearch{
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.maincafesearchtext {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 18px;
}

.maincafesearchimg {
    background-color: #b3afae;
    width: 130px;
    height: 130px;
}

.maincafesearchname{
    font-size: 23px;
}

.maincafesearchcomment{
    margin-top: 25px;
}

.bottomline{
    width: 830px;
    color:#c9c5c5;
    margin-top: -5px; 
}

.selectright{
    flex: 1;
}

.selectcontainer{
    display: flex;
    flex-direction: row;
}
.footer{
    height: 110px;
    background-color: #f7f2cd;
    padding: 15px;
}
