{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
    <link rel="stylesheet" href="{%static 'css/search_after.css' %}">
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        var rows = document.querySelectorAll('tr[data-href]');
        rows.forEach(function (row) {
            row.addEventListener('click', function () {
                window.location.href = this.dataset.href;
            });
        });
    });
    </script>
</head>
<body>
    <!-- 상단 헤더 -->
    <div class="selectheader">
        <div class="selectheaderleft">
            <div class="selectlogoimg">
                <a href="{%url 'home:firstpage' %}"><img src="{% static 'img/home_img/homeheaderlogo.png' %}" style="width: 180px"></a>
            </div>
        </div>
        <div class="selecthdaerright"></div>
    </div>
    <div class="headerline"></div>

    <!-- 왼쪽 메뉴 고정 영역 -->
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'cafe_select:select_before' %}">select</a></li>
            <li><a href="{% url 'cafe_search:search_before' %}">search</a></li>
            <li><a href="{% url 'mypage:mypage'%}">mypage</a></li>
        </ul>
    </div>

    <!-- 본문 내용 -->
    <div class="main-content">
        <div class="search-tag-header">
            {%for search_tag in search_tags %}
            <span class="search-tag">{{search_tag.label}}</span>
            {%endfor%}
        </div>
        

        <div class="cafe-list">
            {%for cafe, cafeimage in cafe_list%}
            <div class="cafe-card">
                {% if cafeimage and cafeimage.cafeimage %}
                <img src="{{cafeimage.cafeimage.url}}" class="cafe-img" onclick="location.href='{% url 'cafe_search:search_detail' cafe_id=cafe.id %}'">
                {% else %}
                <p class="cafe-img">사진 없음</p>
                {% endif %}
                <div class="cafe-info">
                    <div class="cafe-name">{{ cafe.cafename }}</div>
                    <div class="cafe-address">{{ cafe.cafelocations }}</div>
                    <div class="cafe-tags">
                        {% for tag in cafe.tags %}
                            <span class="tag">{{ tag.label }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <footer class="footer">
        footer
    </footer>

    <script src="{% static 'js/search_after.js' %}"></script>
</body>
</html>