{% extends 'moodsn/base.html' %}
{%load static%}

{% block content %}
    <title>SEARCH</title>
    <link rel="stylesheet" href="{% static 'css/search_detail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- 헤더 -->
    <div class="selectheader">
        <div class="selectheaderleft">
            <div class="selectlogoimg">
                <a href="{%url 'home:firstpage' %}"><img src="{% static 'img/home_img/homeheaderlogo.png' %}" style="width: 180px"></a>
            </div>
        </div>
        <div class="selectheadermiddle">
        </div>
        <div class="selecthdaerright"></div>
    </div>

    <div class="headerline" style="border-top: 1px solid #b22222; width: 100%;"></div>

    <!-- 사이드바 -->
    <div class="selectcontainer">
        <div class="selectleft">
            <div class="navigationbar"><ul><li><a href="{%url 'cafe_select:select_before'%}">select</a></li>
                <li><a href="{%url 'cafe_search:search_before'%}">search</a></li>
                <li><a href="{%url 'mypage:mypage'%}">mypage</a></li></ul></div>
        </div>

    <!-- 본문 -->
        <div class="main-content">
            <!-- 카페 정보 상단 -->
            <div class="cafe-header">
                    <div class="topboxcafeintrotop">
                            <div class="topboxcafeintroimg"><img src="{%static 'img/select_img/topboxcafeintroimg.png' %}" width="30px"></div>
                            <div class="topboxcafeintroname">{{ cafe.cafename }}</div>
                    </div>
                    <div class="topboxcafeintrocomment">{{ cafe.cafeinfo }}</div>
            </div>
            <hr class="topline">


            <!-- 사진 & 지도 -->
            <div class="image-map-container">
                <img src="{{cafeimage.cafeimage.url}}" class="cafe-image">
                <a href="https://place.map.kakao.com/{{cafe.cafeID}}" target='_blank'><div id="cafemap" class="cafe-map"></div></a>
            </div>

            <!-- 태그 -->
            <div class="moods-section">
                <div class="moodstag">#Moods</div>
                <div class="tag-buttons">
                    {%for tag in tags%}
                        <span class="tag">{{tag.label}}</span>
                    {% endfor %}
                </div>
            </div>

            <!-- 리뷰 -->
            <div class="review-section">
                <div class="reviewtext">Review</div>
                <div class="review-scroll-box">
                    {% for writer, review in reviews %}
                    <div class="review-box">
                        <img src="{{review.review_image.url}}" class="review-img">
                        <div class="review-content">{{review.review_content}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="selectright"></div>
    </div>

    <!-- 카카오 지도 API 스크립트 -->
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{myjskey}}"></script>

    <script>
    // 카카오 지도 API가 로드되면 실행되는 코드
    kakao.maps.load(function() {
        var cafeLat = {{ cafe.cafe_x }};
        var cafeLng = {{ cafe.cafe_y }};
        
        var container = document.getElementById('cafemap');
        var options = {
            center: new kakao.maps.LatLng(cafeLng, cafeLat),
            level: 2  // 지도 확대/축소 레벨
        };

        var map = new kakao.maps.Map(container, options);
        
        // 마커 추가
        var marker = new kakao.maps.Marker({
            position: new kakao.maps.LatLng(cafeLng, cafeLat)
        });
        marker.setMap(map);
    });
    </script>
 {% endblock %}