{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPAGE</title>
    <link rel="stylesheet" href="{%static 'css/mypage_moodselectsearch.css' %}">
    {% if messages %}
    <script>
        window.onload = function() {
            {% for message in messages %}
                
                alert("{{ message }}");
            {% endfor %}
        };
    </script>
    {% endif %}
</head>
<body>
    <div class="selectheader">
        <div class="selectheaderleft">
            <div class="selectlogoimg"><a href="{%url 'home:firstpage'%}">
                <img src="{%static 'img/home_img/homeheaderlogo.png' %}" style="width: 180px">
            </a></div>
        </div>
        <div class="selectheadermiddle">
        </div>
        <div class="selecthdaerright"></div>
    </div>

    <div class="headerline" style="border-top: 1px solid #b22222; width: 100%;"></div>

    <div class="selectcontainer">
        <div class="selectleft">
            <div class="navigationbar"><ul><li><a href="{%url 'cafe_select:select_before'%}">select</a></li>
                <li><a href="{%url 'cafe_search:search_before'%}">search</a></li>
                <li><a href="{%url 'mypage:mypage'%}">mypage</a></li></ul></div>
        </div>

        <div class="selectmain">
            <div class="moodselectsearchhead">내 기록 모아보기 > 분위기 남긴 카페 내역</div>

            <form method="POST" action = {%url 'mypage:my_mood_cafe'%}>
                {%csrf_token%}
                <div class="mymoodselectcontainer">
                    <div class="tag-box">
                        <input type="checkbox" id="my_tag1" class="tag" name="my_mood_tag" value="coffee">
                        <label for="my_tag1" class="taglabel">#커피가 맛있는</label>

                        <input type="checkbox" id="my_tag2" class="tag" name="my_mood_tag"  value="refined">
                        <label for="my_tag2" class="taglabel" >#세련된</label>

                        <input type="checkbox" id="my_tag3" class="tag" name="my_mood_tag" value="together">
                        <label for="my_tag3" class="taglabel">#단체모임하기 좋은</label>
                    </div>
                    <div class="tag-box">
                        <input type="checkbox" id="my_tag4" class="tag" name="my_mood_tag" value="dessert">
                        <label for="my_tag4" class="taglabel">#디저트가 맛있는</label>

                        <input type="checkbox" id="my_tag5" class="tag" name="my_mood_tag" value="clean">
                        <label for="my_tag5" class="taglabel">#깔끔한</label>

                        <input type="checkbox" id="my_tag6" class="tag" name="my_mood_tag" value="study">
                        <label for="my_tag6" class="taglabel">#카공하기 좋은</label>
                    </div>
                    <div class="tag-box">
                        <input type="checkbox" id="my_tag7" class="tag" name="my_mood_tag" value="cozy">
                        <label for="my_tag7" class="taglabel">#포근한</label>

                        <input type="checkbox" id="my_tag8" class="tag" name="my_mood_tag" value="big">
                        <label for="my_tag8" class="taglabel">#넓은</label>

                        <input type="checkbox" id="my_tag9" class="tag" name="my_mood_tag" value="alone">
                        <label for="my_tag9" class="taglabel">#혼자 있기 좋은</label>
                    </div>
                    <div class="tag-box">
                        <input type="checkbox" id="my_tag10" class="tag" name="my_mood_tag" value="cuty">
                        <label for="my_tag10" class="taglabel">#아기자기한</label>

                        <input type="checkbox" id="my_tag11" class="tag" name="my_mood_tag" value="always">
                        <label for="my_tag11" class="taglabel">#24시간 영업하는</label>

                        <input type="checkbox" id="my_tag12" class="tag" name="my_mood_tag" value="picture">
                        <label for="my_tag12" class="taglabel">#사진 찍기 좋은</label>
                    </div>
                </div>
                <button type="submit" class="mymoodselectbutton">검색</button>
            </form>
        </div>

        <div class="selectright">
        </div>
    </div>

    {% include 'moodsn/base.html' %}

</body>
</html>