{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPAGE</title>
    <link rel="stylesheet" href="{%static 'css/mypage_reviewlist.css' %}">
</head>
<body>
    <div class="selectheader">
        <div class="selectheaderleft">
            <div class="selectlogoimg"><a href="{%url 'home:firstpage'%}">
                <img src="{%static 'img/home_img/homeheaderlogo.png' %}" style="width: 180px">
            </a></div>
        </div>
        <div class="selectheadermiddle">
            <form class="selectsearchpart" method='get' action={% url 'cafe_select:select_searched'%}>
                {% csrf_token %}
                <input type="text" name="select_searchbar" class="selectsearch" placeholder="남기고 싶은 카페를 검색해보세요">
                <button type="submit" class="selectsearchicon"><img src="{%static 'img/select_img/selectsearchicon.png' %}" style="width: 25px"></button>
            </form>
        </div>
        <div class="selecthdaerright"></div>
    </div>

    <div class="headerline" style="border-top: 1px solid #b22222; width: 100%;"></div>

    <div class="selectcontainer">
        <div class="selectleft">
            <div class="navigationbar"><ul><li><a href="{%url 'cafe_select:select_before'%}">select</a></li>
                <li><a href="{%url 'cafe_search:search_before'%}">search</a></li>
                <li><a href="{%url 'mypage:mypage'%}">mypage</a></li></ul></div>
        </div>

        <div class="selectmain">
            <div class="moodselectsearchhead">내 기록 모아보기 > 리뷰 남긴 카페 내역</div>

            <div class="reviewmaincontainer1">
                {%for review, cafe in reviewCafe %}
                <div class="reviewmain1">
                    
                    <div class="reviewleft1">
                        <div class="reviewtext1">{{review.review_content}}</div>
                    </div>
                    <div class="reviewright1">
                        <img src="{{review.review_image.url}}" class="mypreviewimg1">
                        <div class="mypreviewmain1">
                            <a href="{%url 'cafe_select:select_detail' cafe.id %}"><div class="mypreviewname1">{{cafe.cafename}}</div></a>
                            <div class="mypreviewcomment1">{{cafe.cafeinfo}}</div>
                            <div class="mypreviewaddress1">{{cafe.cafelocation}}</div>
                        </div>
                    </div>
                    <a href="{%url "mypage:delete_myreview" cafe_id=cafe.id %}"><button class="deletebutton1">Delete</button></a>
                    
                </div>
                {% endfor %}
                <hr class="reviewbottomline"></hr>
            </div>

        </div>

        <div class="selectright">
        </div>
    </div>

    <div class="footer">
        &copy; moodsn <br><br><br> Backend 손정민 <br> Frontend 성유리 이가윤
    </div>

</body>
</html>