{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div>
    <a href={%url 'home:home' user_id %}>moods카페</a><br><br>
    <a href={%url 'cafe_select:select_before' user_id%}>select</a>&nbsp;&nbsp;&nbsp;
    <a href='#'>search</a>&nbsp;&nbsp;&nbsp;
    <a href={%url 'mypage:mypage' user_id%}>mypage</a>
</div>

<img src='{{profile.profile_image.url}}' class="profileimg" alt="Profile Image" width="150"><br><br>
{{profile.nickname}}<br><br>
{{user.username}}<br><br>
{{user.email}}<br><br>
<a href={%url 'mypage:profile_update' user_id%}>수정하기</a>

{% endblock content %}